apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-discord-webhook
  namespace: monitoring
type: Opaque
stringData:
  webhook-url: "https://discord.com/api/webhooks/1456820884164710609/tsZfYlGXZh08HnDmVLfEQfi2fPFCEPMEln7rDU_hvHa5UonLbws9qrtG76NLntAuQMvB"